@{
    ViewData["Title"] = "Home Page";
}


<div class="bg-primary min-vh-100 d-flex align-items-center">
    <div class="container text-center">
        <!-- Your content goes here -->
        <img src="Content/pokeomn.jpg" alt="Pokemon Graphic">
    </div>
</div>